*.anjuta
*.autosave
*.bak
*.class
*.gladep
*.la
*.lo
*.o
*.pws
*.pyc
*.stamp
*~
.*swp
.anjuta
.deps
.libs
.nautilus-metafile.xml
.tm_project*
INSTALL
Makefile
Makefile.in
TODO.tasks
aclocal.m4
autom4te.cache
build/autotools/gtk-doc.m4
build/autotools/libtool.m4
build/autotools/ltoptions.m4
build/autotools/ltsugar.m4
build/autotools/ltversion.m4
build/autotools/lt~obsolete.m4
build/autotools/shave
build/autotools/shave-libtool
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/reference/libnbtk/html/*
docs/reference/libnbtk/nbtk-decl-list.txt
docs/reference/libnbtk/nbtk-decl.txt
docs/reference/libnbtk/nbtk-overrides.txt
docs/reference/libnbtk/nbtk-undeclared.txt
docs/reference/libnbtk/nbtk-undocumented.txt
docs/reference/libnbtk/nbtk-unused.txt
docs/reference/libnbtk/nbtk.args
docs/reference/libnbtk/nbtk.hierarchy
docs/reference/libnbtk/nbtk.interfaces
docs/reference/libnbtk/nbtk.prerequisites
docs/reference/libnbtk/nbtk.signals
docs/reference/libnbtk/tmpl/*
docs/reference/libnbtk/xml/*
dump
gtk-doc.make
install-sh
intltool-extract*
intltool-merge*
intltool-modules*
intltool-update*
libtool
ltmain.sh
missing
mkinstalldirs
nbtk-0.1.4.tar.gz
nbtk-1.0.pc
nbtk.pc
nbtk/nbtk-enum-types.c
nbtk/nbtk-enum-types.h
nbtk/nbtk-marshal.c
nbtk/nbtk-marshal.h
nbtk/nbtk-version.h
nbtk/stamp-nbtk-enum-types.h
nbtk/stamp-nbtk-marshal.h
po/Makefile.in.in
po/POTFILES
po/stamp-it
prepare.sh
stamp-h*
tests/test-border-image
tests/test-buttons
tests/test-container-matching
tests/test-entry
tests/test-expander
tests/test-grid
tests/test-label
tests/test-padding
tests/test-script
tests/test-scroll-bar
tests/test-scroll-grid
tests/test-scroll-view
tests/test-scroll-view-2
tests/test-scroll-view-3
tests/test-styles
tests/test-table
tests/test-table-2
tests/test-table-3
tests/test-texture-frame
tests/test-tooltips
tests/test-viewport
