#*#
*.anjuta
*.autosave
*.bak
*.class
*.gladep
*.la
*.lo
*.o
*.pws
*.pyc
*.stamp
*~
.*swp
.anjuta
.deps
.libs
.nautilus-metafile.xml
.tm_project*
INSTALL
Makefile
Makefile.in
TODO.tasks
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/reference/libnbtk/*
dump
gtk-doc.make
install-sh
intltool-extract*
intltool-merge*
intltool-modules*
intltool-update*
libtool
ltmain.sh
missing
mkinstalldirs
nbtk-1.0.pc
nbtk.pc
nbtk/nbtk-enum-types.c
nbtk/nbtk-enum-types.h
nbtk/nbtk-marshal.c
nbtk/nbtk-marshal.h
nbtk/stamp-nbtk-enum-types.h
nbtk/stamp-nbtk-marshal.h
po/Makefile.in.in
po/POTFILES
po/stamp-it
prepare.sh
stamp-h*
tests/test-buttons
tests/test-script
tests/test-styles
tests/test-table
tests/test-texture-frame
