NbtkLabel {
  color: red;
  background-color: yellow;
  font-size: 30;
  font-family: "Times";
}

NbtkLabel#padded-label {
  padding-left: 50;
  padding: 10;
}

NbtkEntry {
  color: red;
  background-color: yellow;
  font-size: 30;
  font-family: "Times";
}
NbtkButton {
  color: blue;
  background-image: url('file://lime-button.png');
}

NbtkButton:hover {
  background-image: url('file://cyan-button.png');
}

NbtkButton:active {
  background-image: url('file://green-button.png');
}

*#red-button {
  background-image: url('file://red-button.png');
}

*#blue-button {
  background-image: url('file://cyan-button.png');
}

*#green-button {
  background-image: url('file://green-button.png');
}

NbtkTable {
  color: #aee;
  background-color: #ddd;
  background-image: url('file://rounded-corner.png');
  border-width: 30 30 30 30;
}

NbtkTooltip {
  background-color: #ccc5;
}
