NbtkButton {
  color: blue;
  background-image: url('file://lime-button.png');
}

NbtkButton:hover {
  background-image: url('file://cyan-button.png');
}

NbtkButton:active {
  background-image: url('file://green-button.png');
}

*#red-button {
  background-image: url('file://red-button.png');
}

*#blue-button {
  background-image: url('file://cyan-button.png');
}

*#green-button {
  background-image: url('file://green-button.png');
}

NbtkTable {
  color: #aee;
  background-color: #ddd;
  background-image: url('file://redhand.png');
}

NbtkTooltip {
  background-color: #ccc;
}
