MxBoxLayout {
  background-color: black;
  padding: 10;
}
MxLabel {
  color: red;
  background-color: yellow;
  font-size: 30;
  font-family: "Times";
}

MxLabel#padded-label {
  padding-left: 50;
  padding: 10;
}

MxButton#test-border-image {
  color: black;
  border-image: url('border-image.png') 12;
}

MxButton MxBin#button-icon {
  background-color: green;
}

MxButton MxBin#button-icon:hover {
  background-color: yellow;
}

MxLabel#test-border-image {
  color: black;
  border-image: url('border-image.png') 12;
  border-width: 12;
}

*#red-button {
  border-image: url('red-button.png') 0;
  font-weight: bold;
}

*#blue-button {
  border-image: url('cyan-button.png') 0;
  font-weight: bolder;
}

*#green-button {
  border-image: url('green-button.png') 0;
  font-weight: lighter;
}

*#style-button {
  border-image: url('green-button.png') 0;
}

*#style-button:hover {
  border-image: url('red-button.png') 0;
}

MxTable {
  color: #aee;
  background-color: #ddd;
  border-image: url('rounded-corner.png') 30;
  padding: 10;
}

MxTable > MxButton {
  color: blue;
  padding: 12;
  border-image: url('border-image.png') 12;
}

MxTable > MxButton:hover
{
  border-image: url('border-image-light.png') 12;
}

MxTable > MxButton:active
{
  border-image: url('border-image-dark.png') 12;
}
