*
{
  font-size: 13;
}

MxButton
{
  padding: 10;
  border-image: url("button.png") 10;
}

MxButton:hover
{
  border-image: url("button-hover.png") 10;
}

MxButton:active, MxButton:checked
{
  padding: 11 9 9 11;
  border-image: url("button-active.png") 10;
}

MxEntry
{
  padding: 5 6 6 5;
  border-image: url("entry.png") 5;
}

MxEntry:focus
{
  border-image: url("entry-active.png") 5;
}

MxEntry:indeterminate
{
  color: #8e8e8e;
}


MxScrollBar
{
  background-color: #dee2e5;
  padding: 0;
}

MxScrollView
{
  scrollbar-width: 28;
  scrollbar-height: 28;
}

MxButton#backward-stepper
{
  border-image: url("scroll-button-left.png") 5;
}

MxButton#backward-stepper:hover,
MxButton#backward-stepper:active
{
  border-image: url("scroll-button-left-hover.png") 5;
}

MxButton#forward-stepper
{
  border-image: url("scroll-button-right.png") 5;
}

MxButton#forward-stepper:hover,
MxButton#forward-stepper:active
{
  border-image: url("scroll-button-right-hover.png") 5;
}

MxButton#up-stepper
{
  border-image: url("scroll-button-up.png") 5;
}

MxButton#up-stepper:hover,
MxButton#up-stepper:active
{
  border-image: url("scroll-button-up-hover.png") 5;
}

MxButton#down-stepper
{
  border-image: url("scroll-button-down.png") 5;
}

MxButton#down-stepper:hover,
MxButton#down-stepper:active
{
  border-image: url("scroll-button-down-hover.png") 5;
}

MxScrollBar MxButton#vhandle
{
  border-image: url("scroll-vhandle.png") 5;
}

MxScrollBar MxButton#vhandle:hover
{
  border-image: url("scroll-vhandle-hover.png") 5;
}

MxScrollBar MxButton#hhandle
{
  border-image: url("scroll-hhandle.png") 5;
}

MxScrollBar MxButton#hhandle:hover
{
  border-image: url("scroll-hhandle-hover.png") 5;
}


/*
 * Expander
 */

MxExpander {
  font-size: 15;
  border-image: url('expander-closed.png') 6;
  padding: 6 12;
}

MxExpander:hover {
  border-image: url('expander-hover.png') 6;
}

MxExpander:active {
  border-image: url('expander-open.png') 36 6 6 6;
}

MxExpander > *#mx-expander-arrow-closed {
    padding: 0;
    background-image: url('expander-arrow-up.png');
}

MxExpander > *#mx-expander-arrow-closed:hover {
    background-image: url('expander-arrow-up-hover.png');
}

MxExpander > *#mx-expander-arrow-open {
    background-image: url('expander-arrow-down.png');
}

MxExpander > *#mx-expander-arrow-open:hover {
    background-image: url('expander-arrow-down-hover.png');
}

MxTooltip {
  color: white;
  padding: 4 10 12 10;
  border-image: url('tooltip-background.png') 4 11 12 11;
  font-size: 15;
}


MxProgressBar {
  padding: 3;
  border-image: url('progress-bar-background.png') 2;
}

MxProgressBar MxProgressBarFill {
  border-image: url('progress-bar-bar.png') 2;
}

MxComboBox {
  padding: 5 38 5 5;
  border-image: url('combobox.png') 4 32 4 4;
}

MxPopup {
  padding: 3;
  border-image: url('menu.png') 2;
}

MxPopup > MxLabel {
  padding: 3;
  border-image: none;
}

MxPopup > MxLabel:hover, MxPopup > MxLabel:active {
  color: white;
  border-image: url('menu-item.png') 2;
}

MxToggle {
  padding: 4;
  background-image: url("toggle-background.png");
}

MxToggle:checked {
  background-image: url("toggle-background-active.png");
}

MxToggleHandle {
  background-image: url("toggle-handle.png");
}

MxToolbar {
  background-color: #333;
  padding: 6;
}

MxToolbar MxButton {
  border-image: url('close.png') 0;
  padding: 51 57 0 0;
}

MxToolbar MxButton:hover, MxToolbar MxButton:active {
  border-image: url('close-hover.png') 0;
  padding: 51 57 0 0;
}

MxToolbar MxComboBox {
  color: #dadada;
  border-image: url('combobox-toolbar.png') 4 32 4 4;
  padding: 12 38 12 14;
  font-size: 15;
}

MxToolbar MxPopup {
  font-size: 15;
  border-image: url('menu-toolbar.png') 4 4 7 4;
  padding: 12;
}

MxToolbar MxPopup > MxLabel {
  font-size: 15;
  color: #dadada;
}

MxToolbar MxPopup > MxLabel:hover, MxToolbar MxPopup > MxLabel:active
{
  font-size: 15;
  color: #44b6e8;
  border-image: none;
}
