NbtkButton
{
  background-color: white;
  padding: 10;
  border-image: url("file://button.png") 10;
  font-family: "Liberation Sans";
  font-size: 13;
}

NbtkButton:hover
{
  border-image: url("file://button-hover.png") 10;
}

NbtkButton:active
{
  border-image: url("file://button-active.png") 10;
}

NbtkScrollButton
{
  background-color: white;
}

NbtkScrollButton#backward-stepper
{
  border-image: url("file://scroll-button-up.png") 5;
}

NbtkScrollButton#backward-stepper:hover,
NbtkScrollButton#backward-stepper:active
{
  border-image: url("file://scroll-button-up-hover.png") 5;
}

NbtkScrollButton#forward-stepper
{
  border-image: url("file://scroll-button-down.png") 5;
}

NbtkScrollButton#forward-stepper:hover,
NbtkScrollButton#forward-stepper:active
{
  border-image: url("file://scroll-button-down-hover.png") 5;
}

NbtkScrollBar *#handle
{
  border-image: url("file://scroll-handle.png") 5;
}

NbtkScrollBar *#handle:hover
{
  border-image: url("file://scroll-handle-hover.png") 5;
}

NbtkEntry
{
  padding: 5px;
  border-image: url("file://text-entry.png") 5;
}
