MxSlider *#fill
{
  background-color: yellow;
}

MxSlider *#trough
{
  background-color: black;
}

MxButton
{
  -mx-icon-size: 16;
}

MxButton#left
{
  -mx-icon-name: "go-previous";
}

MxButton#top
{
  -mx-icon-name: "go-top";
}

MxButton#bottom
{
  -mx-icon-name: "go-bottom";
}

MxButton#right
{
  -mx-icon-name: "go-next";
}

MxImage
{
  background-color: blue;
}
